.footerdev {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.footerimgs {
  justify-content: space-around;
  align-items: center;
  display: flex;
  flex-direction: row;
  padding: 1rem 3rem;
}
.footerimg {
  cursor: pointer;
  margin: 2rem;
  display: flex;
  align-items: center;
  width: 15%;
  height: 15%;
  scale: 1.2;
  flex-direction: column;
}
.footerimg img {
  border-radius: 50%;
  height: 100%;
  scale: 1.2;
  width: 100%;
  object-fit: cover;
}
.footerimg h4 {
  margin-top: 1rem;
}

@media only screen and (max-width: 450px) {
  .footerdev h3 {
      font-size: 15px;
  }
  .footerimgs{
      flex-direction: column;
      padding: 1rem;
  }
  .footerimg{
      width: 50%;
      height: 100%;
  }



}
